target
agent/target
agent/cfg.json
.idea/*
.idea/
config.json
bin/linux_debug/*
bin/linux_release/*
bin/windows_release/*
bin/windows_debug/*
agent/src/config.rs.bak
Dockerfile.bak
utils/www/*
offensive_notion
offensive_notion.exe
agent/src/config.rs
